<app-search></app-search>
<app-tags></app-tags>
<ul>
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}">
        <img src="{{food.imageUrl}}" alt="{{food.name}}" class="image"></a>
        <div class="content">
            <div class="name">
                <a routerLink="/food/{{food.id}}">{{food.name}}</a>
                
            </div>
            <div class="product-item-footer">
                <div class="price">
                    <span>
                        {{food.price | currency}}
                    </span>

                </div>
              <div class="origins">
                {{food.origins}}
              </div> 
              <div class="cooktime">
                <span></span>
                {{food.cookTime}}
              </div> 
            </div>
        </div>
    </li>
</ul>
